resource_group_name  = "rg-enterprise-rag"
location             = "eastus2"
storage_account_name = "stenterpriserag"
project_prefix       = "rag"

# OpenAI model defaults (override if needed)
# openai_model_name           = "gpt-5.3"
# openai_embedding_model_name = "text-embedding-3-large"
# search_service_sku          = "standard"
